# Server Configuration
PORT=5000
NODE_ENV=development

# Firebase config
FIREBASE_DATABASE_URL=your_firebase_database_url_here
GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json

# Firebase Configuration
FIREBASE_API_KEY=your_firebase_api_key_here
FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain_here
FIREBASE_PROJECT_ID=your_firebase_project_id_here
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket_here
FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id_here
FIREBASE_APP_ID=your_firebase_app_id_here
FIREBASE_MEASUREMENTID=your_firebase_measurement_id_here

# Twilio Configuration
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_FROM_PHONE=your_twilio_from_phone_here
TWILIO_TO_PHONE=your_twilio_to_phone_here

# GitHub API
GITHUB_API_TOKEN=your_github_api_token_here

# Security
CORS_ORIGIN=http://localhost:3000

# OTP Rate Limiter
OTP_RATE_LIMIT_WINDOW_MS=60000     
OTP_RATE_LIMIT_MAX_REQUESTS=5

# GitHub Rate Limiter
GITHUB_RATE_LIMIT_WINDOW_MS=60000  
GITHUB_RATE_LIMIT_MAX_REQUESTS=60

# Swagger Rate Limiter
SWAGGER_RATE_LIMIT_WINDOW_MS=60000  
SWAGGER_RATE_LIMIT_MAX_REQUESTS=10
